# cache
.cache/

# virtualenv
venv/

# compile files
*.pyc
__pycache__/
virtualenv
*.egg-info/
dist/

# idea configuration
.ycm_extra_conf.py

# Jupyter chk
.ipynb_checkpoints/

# swap file
*.swp

# packages
node_modules/