// none元素
.none
    display none

// 容器提升
.contents
    display contents

// 块级 flex容器
.flex
    display flex

// 块级 网格容器
.grid
    display grid

// 块级元素
.block
    display block

// 内联元素 不支持配置高度和宽度信息
.inline
    display inline

// 内敛级元素 支持配置高度和宽度数据
.inline-block
    display inline-block

// 内联级别的flex容器
.inline-flex
    display inline-flex

// 内联级别的table容器
.inline-table
    display inline-table

// 内敛级别的网格容器
.inline-grid
    display inline-grid

// 根据上下文显示为块级或者内联元素
.run-in
    display run-in

// 设置为li-like元素
.li
    display list-item